{# src/LFP/TimbalBundle/Resources/views/Course/id.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}

{% block title %}{{ parent() }}
  - First Step{% endblock %}

{% block stylesheet %}
  {{ parent() }}
  <!-- NOTE yarn gestion de js et css -->
  <link rel="stylesheet" href="{{ asset('assets/css/id.css') }}">
{% endblock %}

{% block lfptimbal_body %}
  <div id="centered-content">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <h1 class="create-id-h1">Create a user Id</h1>
    <div class="mobile-inputs desktop-inputs">
      <div class="inputs">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
      </div>
      <div class="inputs">
        {{ form_row(form.password) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

      </div>
      <div class="inputs">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
      </div>
    </div>
    <div>
      {{ form_widget(form.save, {'attr': {'class': 'save id-save'}}) }}
    </div>
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

  </div>
  <!-- NOTE si pas d'ajout de script : bock inutile -->
  {% block javascripts %}
    {{ parent() }}
  {% endblock %}
{% endblock %}
