{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}

{% block body %}
  {% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/id.css') }}">
  {% endblock %}
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  <div id="centered-content">
    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <form action="{{ path('login_check') }}" method="post">
      {% if error %}
      <div class="alert alert-danger">{{ error.message }}</div>
      {% endif %}
      <h1>Welcome</h1>
      <div class="inputs">
        <label id="username-label" for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
      </div>
      <div class="inputs">
        <label  id="password-label" for="password">Password</label>
        <input type="password" id="password" name="_password"/>
        <p><a id="create-account" href="id">Create my Timbal account</a><p>
      </div>
      <br/>
      <input class="save" type="submit" value="Enter"/>
    </form>
  </div>

{% endblock %}
