{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <title>
      {% block title %}Timbal{% endblock %}
    </title>
  </head>

  <body>

    <div id="menu">
      {% if app.user.userName is defined %}
      <div class="slide-call" id="menu-call" title="{{ app.user.userName|capitalize ~ "'\s Timbal" }}">&#8801;</div>
      <div class="slide-call" id="clock-call" title="Back to the clock">&#8801;</div>
        <h2>{{ app.user.userName|capitalize ~ "'\s Timbal" }}</h2>
      {% endif %}
      <nav id="timetable-options">
        <ul>
          <li>
            <a href="javascript:printTimbal()">PRINT</a>
          </li>
          <li>
            <a href="{{ path('lfp_timbal_pdf') }}">SAVE IN PDF</a>
          </li>
            <button id="delete-all" type="button" name="button">DELETE ALL</button>
          <li>
          </li>
          <li>
            <a href="{{ path('logout') }}">LOGOUT</a>
          </li>
        </ul>
      </nav>
      {{ render(controller("LFPTimbalBundle:Course:menu")) }}
    </div>

    <div id="content">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <p>La Fondation Phoenix -
        {{ 'now'|date('Y') }}</p>
    </footer>

    {% block javascripts %}

    {% endblock %}

  </body>
</html>
