{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <title>
      {% block title %}Timbal{% endblock %}
    </title>
  </head>

  <body>

    <div id="menu">
      <div id="menu-call">&#8801;</div>
      {% if app.user.userName is defined %}
        <h2>{{ app.user.userName ~ "'\s Timbal" }}</h2>
      {% endif %}
      <nav id="timetable-options">
        <ul>
          <li>
            <a href="{{ path('lfp_timbal_home') }}">Home</a>
          </li>
          <li>
            <a href="{{ path('lfp_timbal_home') }}">Print</a>
          </li>
          <li>
            <a href="{{ path('lfp_timbal_home') }}">Send</a>
          </li>
          <li>
            <a href="{{ path('lfp_timbal_home') }}">Delete</a>
          </li>
          <li>
            <a href="{{ path('logout') }}">Logout</a>
          </li>
        </ul>
      </nav>
      {{ render(controller("LFPTimbalBundle:Course:menu")) }}
    </div>

    <div id="content">
      {% block body %}{% endblock %}
    </div>

    <footer>
      <p>La Fondation Phoenix -
        {{ 'now'|date('Y') }}</p>
    </footer>

    {% block javascripts %}
      <script type="text/javascript" src="../../../web/assets/js/menu.js"></script>
    {% endblock %}

  </body>
</html>
