{% if snappyStyles is defined %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/index.css">
  <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/menu.css">
  <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/pdf.css">
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400" rel="stylesheet">
  {% if numberOfColumns | length is same as(1) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/1-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(2) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/2-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(3) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/3-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(4) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/4-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(5) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/5-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(6) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/6-column.css">
  {% endif %}
  {% if numberOfColumns | length is same as(7) %}
    <link rel="stylesheet" href="http://localhost/Symfony/web/assets/css/7-column.css">
  {% endif %}
  {% if app.user.userName is defined %}
    <h2>{{ app.user.userName|capitalize ~ "'\s Timbal" }}</h2>
  {% endif %}
{% endif %}

<div id="my-timbal">
  <!-- Sorts days by day_rank from 1 to 7 -->
  {% for dayRank in dayRanks | sort %}

    <!-- This boolean is used below for <h3> -->
    {% set i = true %}
    <div class="time-table if-1-column if-2-column if-3-column if-4-column if-5-column if-6-column if-7-column ">
      <ul class="nav nav-pills nav-stacked">
        <!-- Uses twig extension victorhaggqvist/Twig-sort-by-field -->
        {% for course in userCourses | sortbyfield('courseTime') %}

          {% if dayRank.dayRank is same as(course.dayRank) %}

            {% if i is same as(true) %}
              <div>
                <h3 class="course-day {{ course.day|lower }}" id="{{course.day ~ '-label'}}">{{ course.day }}</h3>
              </div>
              <!-- Day displayed once on the top of each <ul> -->
              {% set i = false %}
            {% endif %}

            <li class="course-block {{ course.day|lower ~ '-block'}} {{course.day|lower}}" id="{{ course.id}}">
              <div>
                <i class="fas fa-trash" title="Delete this one"></i>
                <i class="fas fa-map-signs"></i>
                {% if course.building is not null %}
                  {{ course.building }}
                {% endif %}
                {{ course.room }}
                <div class="course-main">
                  <div class="course-hour">
                    {{ "%02d"|format(course.chosenHour) }}
                    :
                    {{ "%02d"|format(course.chosenMinute) }}
                  </div>
                  <div class="course-name">
                    {{ course.course }}
                  </div>
                </div>

                {% if course.teacher is not null %}
                  <div class="teacher-name">
                    <br/>
                    {{ course.teacher }}
                    <i class="fas fa-book"></i>
                  </div>
                {% endif %}
                <br/>
                <div class="duration-block">
                  <i class="fas fa-hourglass-half"></i>
                  {{ "%02d"|format(course.durationHour) }}
                  h
                  {{ "%02d"|format(course.durationMinute) }}
                </div>
              </div>
            </li>

          {% endif %}
          {% if courses is defined %}
            {{ courses }}
          {% endif %}
        {% endfor %}
      </ul>

    </div>
  {% endfor %}
</div>
