{# src/LFP/TimbalBundle/Resources/views/Course/wiew.html.twig #}

{% extends "LFPTimbalBundle::layout.html.twig" %}


{% block title %}Affichage de l'annonce {{ id }}

{% endblock %}

{% block lfptimbal_body %}

{% block stylesheet %}
  {{ parent() }}
  <!--           Put "when & what" shared style in a master css  -->
  <link rel="stylesheet" href="../.././../web/assets/css/when.css">
  <link rel="stylesheet" href="../.././../web/assets/css/what.css">
{% endblock %}

    <h1>Affichage de l'annonce n°{{ id }} !</h1>

    <div>
      {# On affiche tous les messages flash dont le nom est « info » #}
      {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}
    </div>

    <p>
      Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
      Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
    </p>

{% endblock %}
