{% extends "LFPTimbalBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - {{ text }}
{% endblock %}
{% block lfptimbal_body %}

  {% block stylesheet %}
    {{ parent() }}
    <!-- Put "when & what" shared style in a master css -->
    <link rel="stylesheet" href="../.././../web/assets/css/when.css">
    <link rel="stylesheet" href="../.././../web/assets/css/what.css">
  {% endblock %}

  <h1>{{ text }}</h1>
  <p>
    {{ caption }}
  </p>

  <form class="where" action="crossroads" method="post">
    <input type="text" name="" placeholder="Building" value="">
    <input type="text" name="" placeholder="Room" value="" required="required">
    <input type="submit" value="Add" id="next">

  </form>

  {% block javascripts %}{{ parent() }}
  {% endblock %}

{% endblock %}
